.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') HTML5 Hacks
      .nav-collapse
        ul.nav
          li.active
            a(href='/example1') Simple
          li
            a(href='/example2') TBD
          li
            a(href='/example3') TBD